.headerImage {
  background-image: url(../images/Image\ \(8\).png);
}
.about.meditation {
  background-color: var(--color-white);
  display: grid;
  grid-template-rows: repeat(3, .5fr);

  .rating .rating_star span, .duration span {
    color: var(--color-success);
  }

  .top {
    grid-template-columns: 1fr .3fr;  
    grid-template-rows: 1fr;
    gap: 50px;
  
    .about_left {
      gap: 10px;
    
      @media (max-width: 700px) {
        align-items: center;
      }
      .rating {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        align-items: center;
        
        @media (max-width: 1300px) {
          .rating_star .icon {
            font-size: 15px
          }
        }
        .text {
          color: var(--color-light);
        };
        .points {
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }
    .about_right {
      img {
        width: 100%;
      }
    }
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      gap: 70px;
    }
  }
  .bottom.cards {
    background-color: var(--color-white);
    padding-top: 0;
    padding-bottom: 0;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
    .card {
      background-color: var(--color-grey-variant);
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      h2 {
        font-size: 18px;
        font-weight: 600;
        line-height: 33.6px;
      };
      .word {
        color: var(--color-light);
      }
      .duration {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
  }
  .bottom.profiles {
    background-color: var(--color-white);
    grid-template-rows: 1fr;
    grid-template-columns: .8fr .5fr;
    gap: 80px;
    align-items: center;

    .left, .right {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .welcome {
      display: flex;
      align-items: center;
      gap: 20px;
      border-radius: 15px;
      box-shadow: -2px 2px 15px -2px var(--color-grey);

      img {
        width: 100%;
      }

      .message {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0 20px 0 0px;
        letter-spacing: .5px;
        font-weight: 400;

        h3 {
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        }
        p {
          color: var(--color-light);
          font-size: 14px;
          font-weight: 400;
        }
        .post {
          p {
            color: var(--color-success);
          }
        }
      }
      @media (max-width: 500px) {
        flex-direction: column;
        .message {
          padding: 40px;
        }
      }
    }
    .assured {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }

    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      margin-bottom: 50px;
    }
    @media (max-width: 700px) {
      justify-items: center;
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      margin-bottom: 10px;
    }
  }
}

.ourServices.review {
  background-color: var(--color-grey-variant);

  .bottom {
    grid-template-rows: 1fr;

    .therapyCard {
      display: grid;
      background-color: var(--color-white);
      padding: 0;
      gap: 20px;
      box-shadow: 0 0 50px -35px var(--color-light);

      .top {
        padding: 30px;
        display: grid;
        gap: 30px;
        line-height: 20px;
      }
      .bottom {
        grid-template-columns: .1fr 1fr;
        align-items: center;
        background-color: var(--color-light-variant);
        border-radius: 0px 0px 10px 10px;
        padding: 30px 10px;

        @media (max-width: 500px) {
          gap: 10px;
        }
        .post {
          span {
            color: var(--color-success);
          }
        }
      }
    }
    @media (max-width: 500px) {
      gap: 70px;
    }
  }
}

.about.mission.steps {
  background-color: var(--color-white);
}

.ourServices.solutions {
  background-color: var(--bg-color);
  .bottom {
    grid-template-rows: 1fr;
  }
}

.statistic.health.faqQue {
  .icon {
    color: var(--color-success);
  }
  .questions {
    display: grid;
    gap: 30px;
    height: fit-content;
    
    .faq {
      overflow: hidden;
      background-color: aliceblue;
      border-radius: 30px;
      height: fit-content;
      display: grid;
      grid-template-rows: 1fr .1fr;
      align-items: center;
      padding: 20px;
      cursor: pointer;

      .question_title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
          font-size: 16px;
        }
        span {
          color: var(--color-success);
          transition: all 500ms linear;
        }
      }
    }
    .question_answer {
      height: 0px;
      overflow: hidden;
      transition: height 500ms linear;
      p {
        line-height: 20px;
      }
    }
    .accordian .question_answer {
      height: 80px;
    }
  }

  .accordian .material-symbols-outlined {
    transition: all 500ms linear;
    transform: rotate(180deg);
  }

}