*{
     padding: 0;
     margin: 0;
}
.title{
     font-size: 15px;
     color: #222222;
     text-transform: uppercase;
}
.title::before{
     content: "";
     display: inline-block;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     clip-path: circle();
     background-color: #6BA50F;
     margin-right: 10px;
}
.head{
     font-size: 40px;
     font-weight: 400;
     line-height: 56px;
     text-align: left;
}
.Sessions .head{
     font-size: 30px;
}
.story{
     font-family: Manrope;
     font-size: 16px;
     font-weight: 400;
     text-align: left;
     color: #909090;
}
.icon i{
     font-size: 1em;
     color: #fff;
}
.icon{
     width: 35px;
     height: 35px;
     border-radius: 50%;
     clip-path: circle();
     background-color: #6BA50F;
     display: flex;
     justify-content: center;
     align-items: center;
}
.col-8 h2{
     font-size: 24px;
     font-weight: 500;
     text-align: left;
}
.col-8 h6{
     color: #909090;
     font-size: 14px;
     font-weight: 400;
     text-align: left;
}
form{
     background-color: #EFF5F0;
     border-radius: 30px;
}
label{
     font-size: 20px;
     font-weight: 500;
     line-height: 28px;
     text-align: left;
}
input{
     border-radius: 15px;
}
input::placeholder{
     font-size: 10px;
}
textarea{
     resize: none;
}
.send{
     padding: 20px 30px;
     border-radius: 99px;
     background-color: #D8FF9A;
     color: #232323;
     font-size: 20px;
}
.num{
     font-size: 48px;
     line-height: 48px;
     text-align: center;
}
.numText{
     font-size: 20px;
     line-height: 16px;
     text-align: center;
}
.carddd{
     background-color: #F8F8F8;
     border-radius: 30px;
}
.carddd h3{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
}
.carddd p {
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
.help .icon{
     width: 50px;
     height: 50px;
}
.col-3-5 {
     flex: 0 0 auto;
     width: 28%;
}
.accordion-item{
     border: none!important;
     margin: 15px 0;
}
.accordion-button, .accordion-button:not(.collapsed), .accordion-button.collapsed, .accordion-flush > .accordion-item > .accordion-header .accordion-button, .accordion-flush > .accordion-item > .accordion-header .accordion-button.collapsed {
     background: #F8F8F8;
     border-radius: 99px;
     outline: none;
     border: none!important;
}
.accordion-body {
     border: none!important;
}

.plan{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
}
.descrition{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
.price{
     font-size: 28px;
     font-weight: 500;
     line-height: 39.2px;
     text-align: left;
     color: #6BA50F;
}
.price::before{
     content: "$";
}
.length::before{
     content: "/";
}
.length{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #222222;
}
.span1{
     font-size: 12px;
     font-weight: 400;
     line-height: 15.6px;
     text-align: left;
     color: #232323;
}
.vard li{
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
     color: #909090;
}
ul.custom-list {
     list-style-type: none; /* Remove default bullets */
}
 
ul.custom-list li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('both/fontawesome-free-6.4.2-web/svgs/solid/circle-check.svg'); /* Add your custom image */
     background-size: 16px 16px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 25px; /* Space to align text with the marker */
}
ul.custom-list2 li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('both/fontawesome-free-6.4.2-web/svgs/solid/check.svg'); /* Add your custom image */
     background-size: 16px 16px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 25px; /* Space to align text with the marker */
}  
.getStart{
     padding: 20px 50px;
     border-radius: 99px;
     opacity: 0px;
     background-color: #222222;
     color: #B8FF48;
     font-size: 20px;
     font-weight: 400;
     line-height: 14px;
     text-align: center;
}
.vard{
     background-color: #F8F8F8;
     padding: 20px;
     border-radius: 15px ;
}
.vard hr{
     border: 1px solid #DDEADE!important;
     margin: 0 auto;
     opacity: 1;
     width: 80%;
}
.num2{
     font-size: 48px;
     font-weight: 400;
     line-height: 48px;
     text-align: left;
}
.numText2{
     font-size: 12px;
     font-weight: 400;
     line-height: 15.6px;
     text-align: left;
     color: #909090;
}
ul.custom-list3 li {
     margin-bottom: 10px; /* Optional: Add space between items */
     background: url('images/Icon.png.png'); /* Add your custom image */
     background-size: 30px 30px; /* Size of the marker image */
     background-repeat: no-repeat;
     background-position: 0 5px; /* Adjust the position of the marker */
     padding-left: 50px; /* Space to align text with the marker */
} 
.custom-list3 li{
     display: flex;
     flex-direction: column;
}
.custom-list3 li span{
     font-size: 24px;
     font-weight: 500;
     line-height: 33.6px;
     text-align: left;
     color: #222222;
}
.posit{
     background-color: #DDEADE;
}
.cardd{
     padding: 35px;
     border-radius: 15px;
}
.discription{
     color: #909090;
     font-size: 14px;
     font-weight: 400;
     line-height: 22.4px;
     text-align: left;
}
.space-y-3 > * + *	{
     margin-top: 0.75rem; /* 12px */
}
.space-y-5 > * + *{
     margin-top: 1.25rem; /* 20px */
}
.gap-20{
     gap: 20px;
}
.grid{
     display: grid;
}
.grid-cols-1{
     grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2{
     grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3{
     grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4{
     grid-template-columns: repeat(4, minmax(0, 1fr));
}
.icons{
     height: 50px;
     width: 50px;
     border-radius: 50%;
     background-color: #6BA50F;
     color: #fff;
     padding: 0;
     font-weight: 400;
     font-size: 20px;
}
img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
nav{
     height: 10vh;
}
.logo{
     width: 211px;
     height: 53px;
}
nav a{
     font-size: 16px;
     font-weight: 600;
     line-height: 19.5px;
     text-align: left;
     text-decoration: none;
     color: #302F2F;
}
.register{
     background-color: #C0FF0E;
     padding: 5px 10px;
     border-radius: 39px;
}
.links a{
     border-radius: 8px;
     border: 1px solid #FFFFFF0F;
     background-color: #222222;
}
#input input::placeholder{
     color: #FFFFFF52;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
}
#input input, input:focus, input:hover, input:active{
     background: transparent;
     outline: none;
     border: none;
     color: #fff;
}
#input{
     border-radius: 8px;
     border: 1px solid #FFFFFF0F;
     background-color: #222222;
}
#registerSection label{
     font-size: 16px;
     font-weight: 400;
}
#registerSection{
     border: 1px solid #FFFFFF0F;
     border-radius: 16px;
}
.info{
     font-size: 12px;
     font-weight: 400;
     line-height: 20px;
     text-align: left;
     color: #8996A9;
}
.info a{
     color: #fff;
}
.submit{
     background: linear-gradient(180deg, #ECF15E 0%, #D6DD13 100%);
     border-radius: 8px;
     padding: 10px 40px;
     border: none;
     outline: none;
}
.text-sm{	
     font-size: 0.875rem; /* 14px */
     line-height: 1.25rem; /* 20px */
}
.coming{
     background:  url(/images/pexels-nappy-935977\ 1.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100vw;
}
.logos{
     width: 400px;
     height: 96px;
}
.headText{
     font-size: 72px;
     font-weight: 800;
     line-height: 87.77px;
     text-align: center;
     background: linear-gradient(136.72deg, #B2EBF2 -8.73%, #D1C4E9 74.71%, #F8BBD0 118.95%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
}
.count{
     border-radius: 17px;
     background: #00000033;
     backdrop-filter: blur(11px);
     padding: 15px 60px;
     font-size: 32px;
     font-weight: 800;
     line-height: 39.01px;
     text-align: center;
     color: #FFFFFF;
}
.texts{
     font-size: 16px;
     font-weight: 500;
     line-height: 19.5px;
     text-align: center;
     text-transform: capitalize;
}
.informate{
     font-size: 28px;
     font-weight: 500;
     line-height: 34.13px;
     text-align: center;
     color: #FFFFFF;
}
.icon08{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     clip-path: circle();
     background: #FFFFFF1F;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     font-size: 25px;
     text-decoration: none;
}
.fa-facebook-f{
     color: #1F9BFF;
}
.fa-twitter{
     color: #34C9ED;
}
.fa-square-instagram{
     color: #BC1FFF;
}
.fa-linkedin{
     color: #4CB5F4;
}
.email{
     width: 600px;
     height: 60px;
     border-radius: 8px;
     background: #00000061;
     border: 1px solid #FFFFFF40;
     display: flex;
}
.email input::placeholder{
     font-size: 16px;
     font-weight: 400;
     line-height: 19.5px;
     text-align: left;
     color: #FFFFFF40;
}
.email input{
     width: 100%;
     color: #fff;
     background: transparent;
     outline: none;
     border: none;
     text-indent: 10px;
}
.email button{
     border-radius: 40px;
     margin-left: auto;
     background: #1FFF50;
     color: #fff;
     font-size: 12px;
     font-weight: 600;
     line-height: 14.63px;
     text-align: center;
     width: 200px;
     height: 35px;
     border-radius: 40px;
     outline: none;
     border: none;
}

/* md */
@media (max-width: 768px) {
     .md-grid-cols-1{
          grid-template-columns: repeat(1, minmax(0, 1fr));
     }
     .md-grid-cols-2{
          grid-template-columns: repeat(2, minmax(0, 1fr));
     }
     .md-grid-cols-3{
          grid-template-columns: repeat(3, minmax(0, 1fr));
     }
     .md-grid-cols-4{
          grid-template-columns: repeat(4, minmax(0, 1fr));
     }
     section{
          height: 100vh;
     }
     .statistics{
          background-color: #F8F8F8;
          height: 100vh;
     }
     .help{
          height: 50vh;
     }
     .Touchs{
          height: 100vh;
          background-color: #EFF5F0;
     }
     .headText{
          font-size: 42px;
     }
     .count{
          font-size: 25px;
          padding: 15px 30px;
     }
     .md-gap-3{
          gap: 0.75rem!important; /* 12px */
     }
     .informate{
          font-size: 15px;
     }
     .email{
          width: 90vw;
     }
     .logos{
          width: 70vw;
     }
     .line{
          width: 200%;
     }
 }